html,body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

#branding{

}

#site-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-height: 120px;
  width: 200px;
}

#site-title img{
  max-height: 100px;
  transition: 200ms;
  -ms-transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
}

#site-description{

}

.top-nav ul{
  margin: 0;
  padding: 0;
}

.top-nav ul li{
  display: inline-block;
  list-style: none;
}

.top-nav ul li a{
  text-decoration: none;
  padding: 30px 25px;
  transition: 200ms;
  cursor: pointer;
  -ms-transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
}

.top-nav ul li a:hover{
  text-decoration: underline;
}

.sub-menu{
  left: 0px;
  visibility: hidden;
  opacity: 0;
  top: 140px;
  width: 100%;
  margin-top: 50px;
  position: absolute;
  transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
  background: rgba(255, 255, 255,1);
  -webkit-box-shadow: 0px 20px 20px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 20px 20px -22px rgba(0,0,0,0.75);
  box-shadow: 0px 20px 20px -22px rgba(0,0,0,0.75);
}

.small-menu{
  left: auto;
  top: 130px;
  width: auto;
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  border: 1px solid rgb(200, 200, 200);
}

.small-menu li{
  padding: 3px 10px;
}

.menu-item-has-children ul{
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menu-item-has-children ul li:nth-of-type(1):nth-last-of-type(2),
.menu-item-has-children ul li:nth-of-type(2):nth-last-of-type(1){
    position: absolute;
    width: 150px;
}

.menu-item-has-children ul li:parent{
    position: absolute;
    width: 150px;
}

.menu-item-has-children ul li a{
  display: list-item;
  padding: 5px 10px;
}

.menu-item-has-children ul li:hover{
  background: rgb(240, 240, 240);
}

.menu-item-has-children:hover > .sub-menu{
  transform: translateY(-10px);
	visibility: visible;
  opacity: 1;
}

#menu-button{
  display: none;
}

#mobile-menu{
  display: none;
}

#main-content{
  padding: 20px;
  text-align: center;
}

#content{
  margin: auto;
  text-align: left;
  max-width: 900px;
}



/*----------------------------
MOBILE RESPONSIVENESS
---------------------------*/

@media screen and (max-width: 800px){

  #header{
    position: absolute;
    width: 100%;
    display: block;
    max-height: 70px;
    background: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    z-index: 10;
  }

  #site-title{
    float: left;
    width: auto;
    height: auto;
  }

  #site-title img{
    padding: 10px;
    height: 50px;
  }

  .top-nav{
    display: none;
  }

  #menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 100%;
    width: 80px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

    #menu-button span{
      display: block;
      position: absolute;
      margin-top: 20px;
      margin-left: 10px;
      height: 3px;
      width: 70%;
      background: rgba(22, 106, 108, 0.5);
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #menu-button span:nth-child(1) {
      top: 0px;
    }

    #menu-button span:nth-child(2),#menu-button span:nth-child(3) {
      top: 15px;
    }

    #menu-button span:nth-child(4) {
      top: 29px;
    }

    #menu-button.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #menu-button.open span:nth-child(2) {
      margin-left: 19px;
      width: 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #menu-button.open span:nth-child(3) {
      margin-left: 19px;
      width: 50%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #menu-button.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

  #mobile-menu{
    position: absolute;
    right: 0px;
    margin-top: 70px;
    display: none;
    width: 60%;
    background: rgb(22, 106, 108);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    z-index: 5;
  }

  .mobile-primary::after{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .mobile-menu{
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .mobile-menu li{
    list-style: none;
  }

  .mobile-menu li a{
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 0px 30px;
  }

  .menu-item-has-children{
    background: rgba(22, 106, 108, 0.5);
  }

  .menu-item-has-children a::before{
    color: white;
    content: '+ ';
  }

  .menu-item-has-children ul{
    display: none;
    max-height: none;
    list-style: none;
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }

  .menu-item-has-children ul li{
    display: block;
    padding: 0;
  }

  .sub-menu{
    height: auto;
    top: auto;
    max-height: none;
    margin-top: 0px;
    margin-left: 0px;
    position: inherit;
    z-index: 999;
    background: rgba(30, 144, 147, 1);
    display: none;
  }

  #content{
    margin-top: 70px;
  }

}
